<html>
<head>
	<style>
	<%= inline_css("flog.css") %>
	</style>
</head>
<body>
	<p>Score: <%= score %></p>
	<% scanned_methods.each do |sm| %>
  <p><strong><%= sm.name %> (<%= sm.score %>)</strong></p>
  <table>
    <tr><th>Score</th><th>Operator</th></tr>
    <% sm.operators.each_with_index do |operator, count| %>
      <tr class='<%= cycle("light", "dark", count) %>'>
        <td class='score'><%= sprintf(SCORE_FORMAT, operator.score) %></td>
        <td class='score'><%= operator.operator %></td>
      </tr>
    <% end %>
  </table>
 <% end %>
</body>
</html>